<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16421819020-muvdskd7ppjnfcrnal4lsra01pqjr505.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16421819020-muvdskd7ppjnfcrnal4lsra01pqjr505</string>
	<key>API_KEY</key>
	<string>AIzaSyDWdGJQ8S0crGhKJZlSTZpZ04oE4C4WQAY</string>
	<key>GCM_SENDER_ID</key>
	<string>16421819020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harel.calmparentapp</string>
	<key>PROJECT_ID</key>
	<string>baby-app-42b3b</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-app-42b3b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16421819020:ios:9a82e8642ead6d8e99a1a9</string>
</dict>
</plist>